// Fonts
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Oswald:wght@200;300;400;500;600;700&display=swap&family=Roboto:wght@300;400;500;700;900&display=swap&family=Arizonia&display=swap&family=Alex+Brush&family=Arizonia&display=swap");

// Variable
$text-header-1: "Mr Dafoe", cursive;
$text-header-2: "Arizonia", cursive;
$text-header-3: "Alex Brush", cursive;
$text-body-1: "Oswald", sans-serif;
$text-body-2: "Roboto", sans-serif;
$text-white: #f8fafc;
$bg-primary: #000000;
$color-ig: #E4405F;
$color-tiktok: $text-white;
$color-linkedin: #0A66C2;
$color-fb: #1877F2;
$transition-default: .2s ease-in-out;

// Function
@mixin tablet {
  @media (min-width: 768px){
    @content;
  }
}

@mixin smallDesktop {
  @media (min-width: 1024px){
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $bg-primary;
  color: $text-white;
  font-family: $text-body-1;
}

p {
  letter-spacing: .3px;
  line-height: 1.5;
  font-family: $text-body-1;
}

.text-header {
  font-family: $text-header-2;
}

// Section Banner
.banner {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    z-index: 2;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__slide {
      background-position: center;
      background-size: cover;
    }
  }

  &__content {
    position: relative;
    z-index: 9;

    &__subtitle {
      text-transform: uppercase;
      letter-spacing: 6px;
      line-height: 1.5;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 23%;
        height: 2px;
        background-color: $text-white;
        transform: translateY(-50%);
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }

    &__name {
      font-size: 3.5rem;
      line-height: 1em;
      margin: 2.5rem 0 4rem;

      h1 {
        span{
          display: block;
        }
      }

      &__and {
        font-size: 2rem;
        line-height: 1.5em;
        margin-top: 1rem;
      }
    }

    &__date {
      margin-bottom: 2rem;
      letter-spacing: .5px;
      line-height: 2rem;
    }

    &__address {
      letter-spacing: .3px;
    }
  }
}
// EOF Section Banner

// Section Intro
.intro {
  text-align: center;
  padding: 5rem 0;

  &__container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    @include smallDesktop {
      max-width: 700px;
    }

    h2 {
      font-size: 2.5rem;
      line-height: 1.5;
      letter-spacing: .5px;
      margin-bottom: 1rem;
    }
  }
}
// EOF Section Intro

// Section Profile Details
.profile {
  text-align: center;
  position: relative;

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .swiper-slide {
      background-size: cover;
      background-position: top center;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #000000 32.86%, rgba(0, 0, 0, 0.46) 64.8%, #000000 98.26%);
        display: block;
      }
    }
  }

  &__picture {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__details {
    padding: 250px 1rem 25px;
    position: relative;
    z-index: 3;
  }

  &__info {
    margin: 0 auto;
    max-width: 100%;

    &__dob {
      font-size: 0.8rem;
      line-height: 1.5;
      letter-spacing: 0.5px;
    }

    &__name {
      font-size: 3rem;
      line-height: 1.2em;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 6px;
    background-position: left center;
    background-repeat: repeat-x;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    opacity: 0.3;
    margin: 1.5rem 0;
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    list-style: none;
    gap: 1rem;

    a {
      color: $text-white;
      font-size: 1rem;
    }
  }
}
// EOF Section Profile Details

// Footer
footer {
  text-align: center;
  padding: 3rem 0;
}
// EOF Footer